body {
    background-image: url(IMAGE/pollution\ 1.jpg);
    ;
    background-size: cover;background-color:#e0d8d8d5;
    
    background-repeat: no-repeat;
}

header {
    height: 100px;
    width: 1100px;
    left: 500px;
    font-size: 92px;
    text-align: center;
    color: red;
    text-emphasis: underline;
}

nav {
    height: 30px;
    width: 1100px;
    font-size: 30px;
    text-align: center;
}

main {
    height: 500px;
    width: 1100px;
    text-align: center;
    font-size: large;
}

footer {
    height: 50px;
    width: 1100px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 32px;
}

h6 {
    font-size: 32px;
}

footer {
    text-align: left;
    font-weight: 900;
}